<div class="row">
  <div class="col-12">
    <h4 class="text-white fr-text mb-3">Projects</h4>
    <button (click)="goToCreateProject()"
            class="default-button mb-3">
      Add
    </button>
  </div>
  <div class="col-12 text-center">
    <mat-progress-spinner *ngIf="isFetching"
                          style="margin:0 auto;"
                          mode="indeterminate">
    </mat-progress-spinner>
    <table class="table
           table-dark"
           *ngIf="!isFetching">
      <thead>
        <tr>
          <th>Project</th>
          <th>Client</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngIf="projects.length == 0">
        <tr>
          <td colspan="4">
            There is no projects found.
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="projects.length > 0">
        <tr *ngFor="let project of projects">
          <td>
            <p class="mb-0 h4 text-alpha fr-text">{{ project.Name }}</p>
            <p class="mb-0">{{ project.Address }}</p>
            <p class="mb-0">( {{ project.DocumentName }} )</p>
          </td>
          <td>
            <p>{{ project.Client.Name }}</p>
          </td>
          <td>
            <span *ngIf="project.ConfirmedBy == null">Not confirmed</span>
            <span *ngIf="project.ConfirmedBy != null">Confirmed</span>
          </td>
          <td>
            <button matTooltip="Confirm / Delete"
                    matTooltipShowDelay="0"
                    matTooltipClass="custom-tooltip"
                    matTooltipPosition="left"
                    mat-icon-button
                    (click)="goToProjectConfirm(project)">
              <mat-icon>thumbs_up_down</mat-icon>
            </button>
            <button matTooltip="View Detail"
                    matTooltipShowDelay="0"
                    matTooltipClass="custom-tooltip"
                    matTooltipPosition="left"
                    mat-icon-button>
              <mat-icon>view_carousel</mat-icon>
            </button>
            <button
                    [disabled]="project.ConfirmedBy == null"
                    matTooltip="Edit Data"
                    matTooltipShowDelay="0"
                    matTooltipClass="custom-tooltip"
                    matTooltipPosition="left"
                    mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <mat-paginator [length]="records"
                           style="color:white;background-color:transparent"
                           pageSize="25"
                           [pageIndex]="pageNumber - 1"
                           (page)="updatePage($event)">
            </mat-paginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
