ul {
  display: block;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

ul, li {
  list-style-type: none;
}

li {
  display: inline-block;
  text-align: center;
}

.comment-wrapper {
  display: inline-block;
  margin-left: 10px;
  width: calc(100% - 60px);
  position: relative;
  min-height: 30px;
  text-align: start;
  margin-bottom: 0.5rem;
}

.comment-thumbnail {
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.comment-text-wrapper {
  display: inline-block;
  position: relative;
  margin-left: 40px;
  width: calc(100% - 40px);
}

.comment-ul > div {
  width: 100%;
  display: inline-block;
}

.comment-timestamp {
  font-family: sans-serif;
  font-size: 0.6rem;
  color: rgba(0, 0, 0, 0.54);
  text-align: start;
  margin-bottom: 0;
}
