<input (change)="addNewFile($event)"
       type="file"
       [disabled]="isSubmitting"
       id="files"
       class="d-none" />
<label [class.disabled]="isSubmitting"
       for="files"
       class="default-button mb-3">Add document</label>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody *ngIf="newDocuments.length == 0">
    <tr>
      <td colspan="2">There is no document found.</td>
    </tr>
  </tbody>
  <tbody *ngIf="newDocuments.length > 0">
    <tr *ngFor="let document of newDocuments;index as i">
      <td>{{ document.name }}</td>
      <td>
        <button type="button"
                (click)="deleteNewDocument(i)"
                mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button
        (click)="uploadDocuments()"
        [disabled]="isSubmitting || newDocuments.length == 0"
        class="default-button">
  Submit
</button>

<table class="table table-dark mt-3">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody *ngIf="documents.length == 0">
    <tr>
      <td colspan="2">There is no document found.</td>
    </tr>
  </tbody>
  <tbody *ngIf="documents.length > 0">
    <tr *ngFor="let document of documents;index as i">
      <td>{{ document.Name }}</td>
      <td>
        <button type="button"
                [disabled]="isDeleting"
                (click)="deleteDocument(i)"
                mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
        <button type="button"
                [disabled]="isDownloading"
                (click)="downloadDocument(i)"
                mat-icon-button>
          <mat-icon>download</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
