<div class="container-fluid">
  <div class="row justify-content-center p-5">
    <div class="col-12 mb-3">
      <h4 class="text-white fr-text mb-3">Users</h4>
      <button mat-icon-button
              (click)="fetchUsers()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button class="default-button" (click)="openAddUser()">
        Add
      </button>
    </div>
    <div class="col-12 text-center">
      <mat-progress-spinner *ngIf="isFetching"
                            style="margin:0 auto;"
                            mode="indeterminate">
      </mat-progress-spinner>
      <table class="mb-3 table table-dark"
             *ngIf="!isFetching">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Position</th>
            <th scope="col">Contact</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngIf="users.length == 0">
          <tr>
            <td colspan="5">There is no user found.</td>
          </tr>
        </tbody>
        <tbody *ngIf="users.length > 0">
          <tr *ngFor="let user of users">
            <td>{{ user.FirstName }} {{ user.LastName }}</td>
            <td>
              {{ user.Email }}
            </td>
            <td>
              <div *ngIf="user.UserPosition!.length > 0" [ngSwitch]="user.UserPosition![0]!.Position" class="d-inline-block">
                <span *ngSwitchCase="1">Site Engineer</span>
                <span *ngSwitchCase="2">Site Supervisor</span>
                <span *ngSwitchCase="3">Project Manager</span>
                <span *ngSwitchCase="4">Director</span>
              </div>

            </td>
            <td>
              {{ user.UserContact!.length }} contacts
            </td>
            <td>
              <button mat-icon-button
                      (click)="openContact(user)">
                <mat-icon>details</mat-icon>
              </button>
              <button mat-icon-button
                      (click)="openEditForm(user)"
                      aria-label="Edit button">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button
                      (click)="openDeleteForm(user)"
                      aria-label="Delete button"
                      class="text-alpha">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <mat-paginator [length]="records"
                             style="color:white;background-color:transparent"
                             pageSize="25"
                             [pageIndex]="pageNumber - 1"
                             (page)="updatePage($event)">
              </mat-paginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
