<div class="row">
  <div class="col-12">
    <h4 class="text-white fr-text mb-3">Create Project</h4>
    <form [formGroup]="generalProjectForm">
      <mat-form-field class="w-100">
        <mat-label>Name</mat-label>
        <input matInput
               formControlName="name"
               placeholder="Project name">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Address</mat-label>
        <input style="color:white"
               matInput
               formControlName="address"
               placeholder="Project address">
      </mat-form-field>

      <mat-form-field (click)="openAddClient()"
                      class="w-100">
        <mat-label>Client</mat-label>
        <input style="color:white"
               readonly
               matInput
               formControlName="client"
               placeholder="Project address">
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <app-gantt-chart></app-gantt-chart>
    </form>
  </div>
</div>
