<div class="row">
  <div class="col-12">
    <h4 class="text-white fr-text mb-3">Create Project</h4>
    <form [formGroup]="generalProjectForm" (ngSubmit)="submitProject()">
      <mat-form-field class="w-100">
        <mat-label>Name</mat-label>
        <input matInput
               formControlName="name"
               placeholder="Project name">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Address</mat-label>
        <input style="color:white"
               matInput
               formControlName="address"
               placeholder="Project address">
      </mat-form-field>

      <mat-form-field (click)="openAddClient()"
                      class="w-100">
        <mat-label>Client</mat-label>
        <input style="color:white"
               readonly
               matInput
               formControlName="client"
               placeholder="Project address">
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Contract Document Number</mat-label>
        <input style="color:white"
               matInput
               formControlName="contractDocument"
               placeholder="Contract Document">
      </mat-form-field>

      <!--<app-gantt-chart [isSubmitting]="isSubmitting" (onUpdateTask)="updateTask($event)"></app-gantt-chart>-->

      <button
              [disabled]="isSubmitting"
              type="button"
              (click)="openAddUser()"
              class="default-button mb-3">
        Add user
      </button>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngIf="users.length == 0">
          <tr>
            <td colspan="3">There is no user found.</td>
          </tr>
        </tbody>
        <tbody *ngIf="users.length > 0">
          <tr *ngFor="let user of users">
            <td>{{ user.FirstName }} {{ user.LastName }}</td>
            <td>
              <div [ngSwitch]="user.UserPosition[0].Position">
                <span *ngSwitchCase="1">Site Engineer</span>
                <span *ngSwitchCase="2">Site Manager</span>
                <span *ngSwitchCase="3">Project Manager</span>
                <span *ngSwitchCase="4">Director</span>
              </div>
            </td>
            <td>
              <button type="button"
                      (click)="deleteUser(user)"
                      mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <input
             (change)="addFile($event)"
             type="file"
             [disabled]="isSubmitting"
             id="files"
             class="d-none" />
      <label
             [class.disabled] = "isSubmitting"
             for="files"
             class="default-button mb-3">Add document</label>

      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngIf="documents.length == 0">
          <tr>
            <td colspan="2">There is no document found.</td>
          </tr>
        </tbody>
        <tbody *ngIf="documents.length > 0">
          <tr *ngFor="let document of documents">
            <td>{{ document.name }}</td>
            <td>
              <button type="button"
                      (click)="deleteDocument(document)"
                      mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <button
              [disabled]="isSubmitting"
              type="submit"
              class="default-button">Submit</button>

    </form>
  </div>
</div>
