<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xl-4 col-lg-6 col-md-8">
      <swiper
              [loop]="true"
              [navigation]="true"
              [(index)]="selectedWeather"
              [pagination]="{ clickable: true }"
              [breakpoints]="breakpoints">
        <ng-template swiperSlide>
          <div class="weather-card" (click)="selectedWeather = 0">
            <img src="assets/images/Sunny.png" class="w-100" alt="Sunny icon" />
            <p class="text-center h5">Sunny</p>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="weather-card" (click)="selectedWeather = 1">
            <img src="assets/images/Raining.png" class="w-100" alt="Raining icon" />
            <p class="text-center h5">Raining</p>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
<button
        class="default-button mt-3"
        (click)="submitForm()"
        [disabled]="isSubmitting">
  Submit
</button>
