/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Francois One;
  src: url("/assets/fonts/FrancoisOne.ttf") format("truetype");
}

html, body {
  height: 100%;
  background-color: #3E3E3E;
  color:white;
}

mat-dialog-container {
  background-color: #3E3E3E !important;
}

.darkDialog{
    background-color:#3E3E3E;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.custom-tooltip {
  font-family: "Francois One";
  font-size:1rem;
  color:white;
  background-color:#333;
}

.fr-text{
   font-family:"Francois One"!important;
}

.text-alpha {
  color: #ED811E!important;
}

.default-button {
  background-color: #ED811E;
  border-radius:0.5rem;
  padding:0.25rem 2rem;
  color:white;
  font-family:"Francois One";
  border:none;
  outline:none!important;
  cursor:pointer;
}

.default-button.disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.default-button:disabled{
    cursor:not-allowed;
    background-color:#ccc!important;
}

.table-dark {
  background-color: #3E3E3E!important;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: white;
}
