<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">
          Task

          <button type="button"
                  [disabled]="isSubmitting"
                  class="float-end d-inline-block"
                  (click)="openAddForm()"
                  mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
        </th>
        <th *ngFor="let date of dateArray">
          {{ date }}
        </th>
      </tr>
    </thead>
    <tbody *ngIf="tasks.length == 0">
      <tr>
        <td colspan="1">There is no data found</td>
      </tr>
    </tbody>
    <tbody *ngFor="let task of tasks">
      <tr>
        <td>
          <p class="d-inline-block text-white">{{ task.Name }}</p>
          <div class="d-inline-block float-end">
            <button mat-icon-button
                    [disabled]="isSubmitting"
                    type="button"
                    [matMenuTriggerFor]="menu"
                    aria-label="Menu button">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu class="darkDialog p-2"
                      #menu="matMenu">
              <button mat-icon-button
                      class="d-block"
                      type="button"
                      (click)="openGroupDetail(task)">
                <mat-icon>info</mat-icon>
                Detail
              </button>
              <button mat-icon-button
                      type="button"
                      (click)="openAddTask(task.Id)">
                <mat-icon>add</mat-icon>
                Add
              </button>
              <button mat-icon-button
                      type="button"
                      class="d-block"
                      (click)="openEditGroup(task)">
                <mat-icon>edit</mat-icon>
                Edit
              </button>
              <button mat-icon-button
                      type="button"
                      class="d-block"
                      (click)="deleteGroup(task)">
                <mat-icon>delete</mat-icon>
                Delete
              </button>
            </mat-menu>
          </div>
        </td>
        <td *ngFor="let date of dateArray">
        </td>
      </tr>
      <tr *ngFor="let item of task.Tasks">
        <td class="ps-3">
          {{ item.Name }}
          <div class="d-inline-block float-end">
            <button mat-icon-button
                    [disabled]="isSubmitting"
                    type="button"
                    [matMenuTriggerFor]="menu"
                    aria-label="Menu button">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu class="darkDialog p-2"
                      #menu="matMenu">
              <button mat-icon-button
                      class="d-block"
                      type="button"
                      (click)="openDetail(item)">
                <mat-icon>info</mat-icon>
                Detail
              </button>
              <button mat-icon-button
                      type="button"
                      class="d-block"
                      (click)="openEditTask(item)">
                <mat-icon>edit</mat-icon>
                Edit
              </button>
              <button mat-icon-button
                      type="button"
                      class="d-block"
                      (click)="deleteTask(item)">
                <mat-icon>delete</mat-icon>
                Delete
              </button>
            </mat-menu>
          </div>
        </td>
        <td *ngFor="let date of dateArray" [ngStyle]="{'background-color': (date >= item.Timeline && date <= (item.Timeline + item.EstimatedDuration))? item.Color: '#242424' }">
        </td>
      </tr>
    </tbody>
  </table>
</div>
