<div class="col-12">
  <h2 class="fr-text mb-5">Dashboard</h2>
  <swiper [breakpoints]="breakpoints">
    <ng-template
                 swiperSlide
                 *ngFor="let project of projects">
      <mat-card
                (click)="goToProject(project)"
                class="card">
        <div class="p-2">
          <h4 class="fr-text text-alpha">{{ project.Name }}</h4>
          <p class="mb-0">{{ project.Address }}</p>
          <p class="fr-text mb-3">{{ project.Client.Name }}</p>
          <button
                  class="default-button">
            Go to
          </button>
        </div>
      </mat-card>
    </ng-template>
  </swiper>
</div>
