.swiper-slide{
    height:auto;
}

.card {
  position: relative;
  background-color: #ADA7A7;
  color: black;
  cursor: pointer;
  padding: 1rem;
}

@media only screen and (max-width: 992px) {
  .card {
    aspect-ratio: 1.7;
  }
}

@media only screen and (min-width: 992px) {
  .card {
    aspect-ratio: 1.8;
  }
}

@media only screen and (min-width: 1200px) {
  .card {
    aspect-ratio: 1.8;
  }
}

@media only screen and (min-width: 1368px) {
  .card {
    aspect-ratio: 2.5;
  }
}

@media only screen and (min-width: 1600px) {
  .card {
    aspect-ratio: 3;
  }
}

@media only screen and (min-width: 1600px) {
  .card {
    aspect-ratio: 4;
  }
}

.card img{
    position:absolute;
    right:0;
    bottom:0;
    width:20%;
    height:30%;
}

.card > div{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.image-empty{
    width:300px;
    left:50%;
    transform:translateX(-50%);
    position:relative;
}

.documentation-wrapper {
  aspect-ratio: 2;
  background-position: center;
  background-size: cover;
}

.user-thumbnail{
    width:50px;
    height:50px;
    border-radius:50%;
    background-size:cover;
    background-position:center;
}

